.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.inputs {
    display: block;
    width: 500px;
    height: 400px;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    margin:auto;
    margin-top: 20px;
    padding: 30px;
}

.inputs input {
    display: block;
    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 18px;
}

.container div {
    margin-bottom: 20px;
}

.cardSelectContainer{
    display: block;
    width: 500px;
    height: 100%;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    margin:auto;
    margin-top: 20px;
    padding: 30px;
}

.cardList {
    
}

.cardList li {
    display: inline-block;
    background-color: rgb(44, 44, 44);
    border: 1px solid white;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.cardList li:hover{
    border: 2px solid cyan;
    cursor: pointer;
}

.listCards {
    display: block;
    width: 500px;
    height: 100%;
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    margin:auto;
    padding: 30px;
}

.editList {
    height: 600px;
    scroll-behavior: auto;
    overflow-y:scroll;

}

.editList div {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.editList li {
    display: block;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.editList li:hover {
    cursor: pointer;
    border: 2px solid cyan;
}
.removeIcon {
    width: 25px;
    height: 100%;
    color: rgb(129, 0, 0);
    align-self: center;
}

.removeIcon:hover {
    width: 28px;
    cursor: pointer;
    color: red;
}