.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  height: 60px;
  padding: 0 30px;
}

.header nav {
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header Button {
  margin: 2px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }
}
