.header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.button {
  background-color: green;
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
  }
}
