.header {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  align-items: center;
  font-size: 12px;
  height: 60px;
  padding: 0 30px;
  box-shadow: inset 0px 8px 8px -4px solid blue;
}

.slogan {
  max-height: 30px;
  overflow: hidden;
}

.header ul {
  display: block;
  max-height: 50px;
  min-width: 150px;
  align-items: center;
  justify-content: center;
  list-style: none;
  
}
.header li {
  display: inline;
}
.header Button {
  margin: 2px;
}

/*@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }
}
*/